<div class="text-center">
    @Html.ValidationMessage("success", new { @style = "color: green;margin:450px;font-size: 20px;" })
    @Html.ValidationMessage("Error", new { @style = "color:#f00;margin: 200px" })

</div>